.field{
        margin-bottom: 24px;
        display: grid;
        
        label{
        text-align: left;
        font-size: 12px;
        margin-bottom: 8px;
        color: #6F7C74;
            span{
                font-size: 14px;
                padding: 12px 0px; 
            }
        }

        input{
            border: 1px solid #6F7C7440;
            padding: 12px 16px;
            border-radius: 8px;
        }

        select{
            border: 1px solid #6F7C7440;
            padding: 12px 16px;
            border-radius: 8px;
        }
    }


.signup-container {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins';

    h1{
        font-size: 32px;
    }
    p{
        font-size: 16px;
        color: #8E8E9C;
    }
    .account{
        font-size: 14px;
    }
    .logo{
        display: block;
        margin: 0px auto 10px auto;
        height: 6em;
        padding: 1em;
        will-change: filter;
        transition: filter 300ms;
    }
    .field{
        margin-bottom: 24px;
        display: grid;
        
        label{
        text-align: left;
        font-size: 12px;
        margin-bottom: 8px;
        color: #6F7C74;
            span{
                font-size: 14px;
                padding: 12px 0px; 
            }
        }

        input{
            border: 1px solid #6F7C7440;
            padding: 12px 16px;
            border-radius: 8px;
        }

        select{
            border: 1px solid #6F7C7440;
            padding: 12px 16px;
            border-radius: 8px;
        }
    }
    
    button{
        background-color: #09BF64;
        padding: 17px 0px;
        font-size: 16px;
    }
    

    // .rightColImg{
    //     width: 900px;
    //     height: calc(100vh - 70px);
    // }
}

