.container {
  background-color: #f0f0f0;
  padding: 20px;
}
.CFRMenu{
    li{
        padding-bottom: 7px;
        .menu-item{
            padding: 15px 15px;
                border-radius: 8px;
                hr{
                    color: #6F7C7433;
                }
        }
    }
    .menu-item-text{    
        color: #6F7C74;
        font-size: 14px;
        font-weight: 400;
    }
    .menu-item-active{
        .menu-item-icon-active{
            color: #fff;
        }
        .menu-item-text{
            color: #fff;
        }
        background-color: #09BF64;
    }
}